@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
} */

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.upload-form-container {
  margin: 30px 30px;
  height: 240px;
  border: 3px solid #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{


}

.title{
  display: block;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

label:hover{
  background: var(--primary);
  color: white;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}

.error{
  color: var(--primary);
}

/* progress bar styles */
.progress-bar{
  height: 10px;
  background-color: #E9ECEF;
  margin-top: 20px;
  width: 100%;
  border: 1px solid red;

}

.progress{
  background-color: #28A745;

  height:100%;
}

/* alert Styles */
.alert {
  display: block;
  padding: 0px 10px;
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;
}

.alert-info{
  background-color: #D1ECF1;
  color:#528993;
}

.alert-danger{
  background-color: #F8D7DA;
  color:#721C24;
}

.alert-success{
  background-color: #D4EDDA;
  color:#155724;
}
/* image grid styles */
.img-grid{
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.img-wrap {
  padding: 10px;
}

.img-wrap img {
  width: 300px;
  height: 200px;
}

/* modal styles*/

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop img{

  width: 50%;
  height: 60%;
  /* justify-content: center;  */
  margin: 3px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
